.main {
  padding: 20px;
  min-height: 100vh;
}

.mainInfo {
  display: flex;
  margin-bottom: 10px;
}

.creationContainer {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 1rem;
}

@media screen and (max-width: 1140px) {
  .creationContainer {
    flex-direction: column;
  }
  .mainInfo {
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
    row-gap: 0.8rem;
    max-width: 450px;
  }
}
