.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  row-gap: 5px;
  width: 100%;
  max-width: 500px;
}

.buttonContainer {
  display: flex;
  column-width: 100%;
  column-gap: 5px;
}

.button {
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .root {
    max-width: 100%;
    flex-direction: column-reverse;
  }
}
