.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  row-gap: 5px;
  width: 100%;
  max-width: 600px;
}

.buttonContainer {
  display: flex;
  column-width: 100%;
  column-gap: 5px;
}

.button {
  width: 100%;
}
